/*banner*/
.banner{width:100%; min-width: 1200px; height:770px; position: relative; z-index: 9;}
.banner li{width:100%; height:770px; position: absolute; left:0; top:0;}
.banner li a{display: block; height:100%;}
.banner li h2,.banner li p{text-align: center; font-weight: 100;}
.banner li h2{font-size:45px; color:#fff; padding-top:360px;}
.banner li p{font-size:22px; color:#fff; margin-top:20px;}
.banner .btns{width:100%; font-size:0; position: absolute; bottom:71px; text-align: center;}
.banner .btns a{display: inline-block; width:56px; height:3px; background-color:#fff; margin:0 6px;}
.banner .btns a.active{background-color:#1891e6;}

/*公告*/
.index-notice{height:80px; padding:30px; background-color:#fff; -moz-box-shadow:0px 7px 13px rgba(0,0,0,.1); -webkit-box-shadow:0px 7px 13px rgba(0,0,0,.1); box-shadow:0px 7px 13px rgba(0,0,0,.1); margin-top:-40px; position: relative; z-index: 10;}
.index-notice .list li{ width:700px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.index-notice .list a{color:#1a1a1a; font-size:14px;}
.index-notice .list a:hover{color:#2a8ef0;}
.index-notice .btns{font-size:0; position: absolute; right:128px; top:40px;}
.index-notice .btns a{width:6px; height:6px; margin:0 10px; border-radius: 50%; background-color:#a7a7a7; display: inline-block; }
.index-notice .btns a.active{background-color:#2a8ef0;}
.index-notice .arrow-btn{width:42px; position: absolute; right:50px; top:36px;}
.index-notice .arrow-btn a{width:8px; height:15px; background:url(../img/arrow_icon.png) no-repeat;}
.index-notice .arrow-btn a.prev{background-position: 0 0;}
.index-notice .arrow-btn a.next{background-position: -8px 0;}
.index-notice .arrow-btn a.prev.disabled{background-position: 0 -15px; cursor: auto;}
.index-notice .arrow-btn a.next.disabled{background-position: -8px -15px; cursor: auto;}

/*业务范围*/
.business{overflow: hidden;}
.business .m-title-01{margin-top:50px;}
.business-items{width:1250px; margin-top:43px;}
.business-items .icon{margin-top:39px;}
.business-items .tt{font-size:12px; color:#333; margin-top:15px;}
.business-items li{width:286px; height:217px; text-align: center; border:1px solid #f2f2f2; float:left; margin-right:18px; position: relative;}
.business-items i{display: block; width:37px; height:41px; position: absolute; top:20px; left:14px;}
.business-items .item01 i.mark{background:url(../img/business_mark_01.jpg) left top no-repeat;}
.business-items .item02 i.mark{background:url(../img/business_mark_02.jpg) left top no-repeat;}
.business-items .item03 i.mark{background:url(../img/business_mark_03.jpg) left top no-repeat;}
.business-items .item04 i.mark{background:url(../img/business_mark_04.jpg) left top no-repeat;}

/*广告*/
.ad-01{width: 100%; height:207px; margin-top:60px; min-width: 1200px; background: url(../img/ad_01.png) left top no-repeat;}
.ad-01 h2,.ad-01 p{color:#a3cdef; font-weight: 100;}
.ad-01 h2{font-size:24px; padding-top:70px;}
.ad-01 p{font-size: 12px; margin-top:12px;}


/*关于我们*/
.index-about{margin-top:115px;}
.index-about dl{margin-top:80px;}
.index-about dd{width:813px;}
.index-about .tt h2{font-size:24px; color:#333;}
.index-about .tt p{font-size:16px; font-family: Arial, Helvetica, sans-serif; color:#999;}
.index-about .tt .line{width:415px; height:2px; background:#d7d7d7; margin:10px 0;}
.index-about .info{margin-top:36px;}
.index-about .info .desc-text{line-height: 30px; color:#666;}
.index-about .info .more{display: block; width:207px; height:45px; border:1px solid #3d83b9; margin-top:50px; line-height: 45px; text-align: center; color:#3d83b9; font-size:16px;}
.index-about .info .more:hover{background:#3d83b9; color:#fff;}

/*产品列表*/
.index-product{position: relative; margin-top:93px;}
.index-product-bg{width:100%; min-width: 1200px; height:524px; background:#f3f3f3; z-index: 1; position: absolute; top:0;}
.index-product .m-title-01{padding-top:90px; position: relative; z-index: 2;}
.index-product-cont{position: relative; z-index: 2; margin-top:62px;}
.index-product-cont .img img{max-width: 100%;}
.index-product-cont ul{width:1250px;}
.index-product-cont li{width:278px; height:432px; padding:18px; margin-right:30px; float:left; background:#cdcbce;}
.index-product-cont li .tt,.index-product-cont li .desc{color:#fff;}
.index-product-cont li .tt{font-size:40px; margin-top:17px;}
.index-product-cont li .desc{font-size:16px; height:35px; margin-top:20px;overflow : hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.index-product-cont li .more{display: block; width:73px; height:32px; font-size:19px; line-height: 32px; text-align: center; margin:22px auto 0;  background:#fff; border:1px solid #bdbbbe; color:#bdbbbe;}
.index-product-cont li .line{width:43px; height:1px; background:#fff; margin:10px auto 27px;}
.index-product-cont li:hover{background:#3d83b9;}
.index-product-cont li:hover .more{background:#7ab5e3; color:#fff;}
.index-product-cont .next,.index-product-cont .prev{display: block; width:50px; height:50px; position: absolute; top:285px;}
.index-product-cont .next{right:0; background:url(../img/right_btn.jpg) no-repeat; margin-right:-80px;}
.index-product-cont .prev{left:0; background:url(../img/left_btn.jpg) no-repeat; margin-left:-80px;}

/*新闻列表*/
.index-news{margin-top:100px;}
.index-news ul{width:1250px; margin-top:65px;}
.index-news li{width:580px; height:180px; margin:0 40px 40px 0; float:left; background:#fff;}
.index-news li:hover{box-shadow: 0 0 20px 0 rgba(0,0,0,.1)}
.index-news dl{padding:18px;}
.index-news dd{width:365px;}
.index-news dd .tt h2{font-size:18px; color:#1a1a1a; width:200px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.index-news dd .tt span{margin-top:5px; color:#8f8f8f;}
.index-news dd .desc{margin-top:20px; height:57px; overflow : hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;}
.index-news dd .more{width:75px; height:18px; display: block; margin-top:25px; color:#fff; line-height: 18px; text-align: center; background:#3d83b9;}
.index-news .more-btn{width:150px; height:40px; margin:60px auto 0; background:#3d83b9; line-height: 40px; text-align: center; font-size:16px; color:#fff; display: block;}


